*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div>button{
    padding: 1rem 5rem;
    color: white;
    font-size: 25px;
    
}
